<div class="container">
<h1>Édition du chef d'oeuvre</h1>

  <%= form_for :masterpiece, url: masterpiece_path(@masterpiece), :html=>{:class =>'form-horizontal'}, method: :patch do |f| %>
      <% if @masterpiece.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@masterpiece.errors.count, "error") %> prohibited
              this article from being saved:</h2>
            <ul>
              <% @masterpiece.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
      <p>
        <%= f.label :titre %><br>
        <%= f.text_field :titre, :class => "form-control" %>
      </p>
      <p>
        <%= f.label :date %><br>
        <%= f.text_field :date, :class => "form-control" %>
      </p>
      <p>
        <%= f.label :text %><br>
        <%= f.text_area :text, :class => "form-control" %>
      </p>
      <p>
        <%= f.label :video %><br>
        <%= f.text_field :video, :class => "form-control" %>
      </p>
      <p id="myBtn">
        <%= f.submit :class => "btn btn-success" %>
      </p>
  <% end %>
</div>

<div id="myBtn">
  <%= link_to 'Retour', masterpieces_path, :class => "btn btn-success" %>
</div>