<div class="container">
<%= form_for :masterpiece, url: masterpieces_path, :html=>{:class =>'form-horizontal'} do |f| %>
<p>
  <%= f.label :titre %><br>
  <%= f.text_field :titre, :class => "form-control" %>
</p>
<p>
  <%= f.label :date %><br>
  <%= f.text_field :date, :class => "form-control" %>
</p>
<p>
  <%= f.label :text %><br>
  <%= f.text_area :text, :class => "form-control" %>
</p>
<p>
  <%= f.label :image %><br>
  <%= f.text_field :image, :class => "form-control" %>
</p>

<p>
  <%= f.label :video %><br>
  <%= f.text_field :video, :class => "form-control" %>
</p>

<p id="myBtn">
  <%= f.submit :class => "btn btn-success" %>
</p>
<% end %>
</div>

<div id="myBtn">
  <%= link_to 'Retour', masterpieces_path, :class => "btn btn-success" %>
</div>